-----BEGIN CERTIFICATE-----
MIIDwzCCA0igAwIBAgISBnuMN6lIe3KvG/o069YrQa6+MAoGCCqGSM49BAMDMDIx
CzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQswCQYDVQQDEwJF
NTAeFw0yNTA0MDkwOTQ3NTJaFw0yNTA3MDgwOTQ3NTFaMBkxFzAVBgNVBAMTDmNh
cm1ldHJpY3MueHl6MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE/+5I0XVHGHMv
s2ce4ou01Um/aoe7OVd2jKfvJYjSZFZb1WsF2LaiRLpg242and88gVZYkxxHuhT/
zwl3K9pkZqOCAlUwggJRMA4GA1UdDwEB/wQEAwIHgDAdBgNVHSUEFjAUBggrBgEF
BQcDAQYIKwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUrKNDQHqzQnu8
IGD9oxS2QGEkLhMwHwYDVR0jBBgwFoAUnytfzzwhT50Et+0rLMTGcIvS1w0wVQYI
KwYBBQUHAQEESTBHMCEGCCsGAQUFBzABhhVodHRwOi8vZTUuby5sZW5jci5vcmcw
IgYIKwYBBQUHMAKGFmh0dHA6Ly9lNS5pLmxlbmNyLm9yZy8wLQYDVR0RBCYwJIIO
Y2FybWV0cmljcy54eXqCEnd3dy5jYXJtZXRyaWNzLnh5ejATBgNVHSAEDDAKMAgG
BmeBDAECATAtBgNVHR8EJjAkMCKgIKAehhxodHRwOi8vZTUuYy5sZW5jci5vcmcv
NjMuY3JsMIIBBgYKKwYBBAHWeQIEAgSB9wSB9ADyAHcAEvFONL1TckyEBhnDjz96
E/jntWKHiJxtMAWE6+WGJjoAAAGWGih7LgAABAMASDBGAiEAkhl137bxe+D1Iq6l
E4RYMhtwAdj482+jxPYFReqLUlQCIQDlcOXSjLJrqssd/PWSATAmR4I9F7SCIn9s
3c0QknA+6gB3AK8YGijWjKPgqYpMnGerCfi7vCK6rryxOKOhndP5tgMNAAABlhoo
fpwAAAQDAEgwRgIhAK8OSq4vOmJyd00J2kpGHVdbjBgqiwWkuhNqMpli5MRfAiEA
ouqXpyEPoe5+RQoD8+dfKgq0kystkyVriY7rqkLo1UkwCgYIKoZIzj0EAwMDaQAw
ZgIxALWml+ZjvRhdfvdApBvoX4NKkXglXrxcUAZuC+9TIrH45+w0Hh2npljCmLaG
gzfYuwIxAIlXF351ZN8M/ubC1bqRaF7k+orzsQbRz/p3mf51yVlDEEZfaF6jRJJa
+mGx9483+Q==
-----END CERTIFICATE-----
